@(bookForm: Form[model.Book], googleAnalyticsCode: String)

@import helper.twitterBootstrap._

@main("Editing " + bookForm("title").value.get, googleAnalyticsCode){
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/book.css")" />
}{

    <div id="banner">
         <h1>Edit Book</h1>
    </div>
    <div id="book">
        @helper.form(action = routes.BookEditController.submit(bookForm("isbn").value.get)) {

            @bookForm.globalError.map { error =>
                <span class="error">@error.message</span>
            }

            @helper.inputText(bookForm("isbn"))

            @helper.inputText(bookForm("ean"))

            @helper.textarea(bookForm("title"), args = 'rows -> 4)

            @helper.inputText(bookForm("authors"))

            @helper.inputText(bookForm("binding"))

            @helper.inputText(bookForm("edition"))

            @helper.inputText(bookForm("numberOfPages"))

            @helper.inputText(bookForm("publicationDate"))

            @helper.inputText(bookForm("publisher"))

            @helper.inputText(bookForm("bookCover.url"))

            <input type="hidden" value="@bookForm("id").value" name="id" id="id"/>
            <input type="hidden" value="@bookForm("listPrice.formattedPrice").value" name="listPrice.formattedPrice" id="listPrice_formattedPrice"/>
            <input type="hidden" value="@bookForm("listPrice.amount").value" name="listPrice.amount" id="listPrice_amount"/>
            <input type="hidden" value="@bookForm("listPrice.currencyCode").value" name="listPrice.currencyCode" id="listPrice_currencyCode"/>

            <input type="hidden" value="@bookForm("offerSummary.lowestUsedPrice.formattedPrice").value" name="offerSummary.lowestUsedPrice.formattedPrice" id="offerSummary_lowestUsedPrice_formattedPrice"/>
            <input type="hidden" value="@bookForm("offerSummary.lowestUsedPrice.amount").value" name="offerSummary.lowestUsedPrice.amount" id="offerSummary_lowestUsedPrice_amount"/>
            <input type="hidden" value="@bookForm("offerSummary.lowestUsedPrice.currencyCode").value" name="offerSummary.lowestUsedPrice.currencyCode" id="offerSummary_lowestUsedPrice_currencyCode"/>
            <input type="hidden" value="@bookForm("offerSummary.totalUsed").value" name="offerSummary.totalUsed" id="offerSummary_totalUsed"/>

            <input type="hidden" value="@bookForm("offerSummary.lowestNewPrice.formattedPrice").value" name="offerSummary.lowestNewPrice.formattedPrice" id="offerSummary_lowestNewPrice_formattedPrice"/>
            <input type="hidden" value="@bookForm("offerSummary.lowestNewPrice.amount").value" name="offerSummary.lowestNewPrice.amount" id="offerSummary_lowestNewPrice_amount"/>
            <input type="hidden" value="@bookForm("offerSummary.lowestNewPrice.currencyCode").value" name="offerSummary.lowestNewPrice.currencyCode" id="offerSummary_lowestNewPrice_currencyCode"/>
            <input type="hidden" value="@bookForm("offerSummary.totalNew").value" name="offerSummary.totalNew" id="offerSummary_totalNew"/>

            <div class="book-edit-button">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>

        }

    </div>

}