@(book: model.Book, googleAnalyticsCode: String)

@main(book.title, googleAnalyticsCode){
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/book.css")" />
}{

    <div id="banner">
        <h1>@{book.authors match {
            case None =>  book.title
            case Some(_) =>   book.title + "  -  " + book.displayableStringOption(book.authors)
        }}</h1>
    </div>

    <div id="book">
        <table class="table">
            <tr>
                <td align="right">
                    <img style="float: right" src="@book.bookCover" caption="@book.title" alt="@book.title"/>
                </td>
                <td align="left">
                    <dl class="dl-horizontal">
                        <dt>Author(s):</dt> <dd>@book.displayableStringOption(book.authors)</dd>
                        <dt>Publisher:</dt> <dd>@book.displayableStringOption(book.publisher)</dd>
                        <dt>Publication Date:</dt> <dd>@book.displayableStringOption(book.publicationDate)</dd>
                        <dt>Binding:</dt> <dd>@book.displayableStringOption(book.binding)</dd>
                        <dt>Edition:</dt> <dd>@book.displayableStringOption(book.edition)</dd>
                        <dt>ISBN:</dt> <dd>@book.displayableStringOption(book.isbn)</dd>
                        <dt>EAN:</dt> <dd>@book.displayableStringOption(book.ean)</dd>
                        <dt>List price:</dt> <dd>@book.displayableListPrice</dd>
                        <dt>Lowest New Price:</dt> <dd>@book.displayableLowestNewPrice</dd>
                        <dt>Lowest Used Price:</dt> <dd>@book.displayableLowestUsedPrice</dd>
                    </dl>
                </td>
            </tr>
        </table>

    </div>
}

