@(bookForm: Form[model.Book], googleAnalyticsCode: String)

@import helper.twitterBootstrap._

@main("Editing " + bookForm("title").value.get, googleAnalyticsCode){
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/book.css")" />
}{

    <div id="banner">
         <h1>Edit Book</h1>
    </div>
    <div id="book">
        @helper.form(action = routes.BookEditController.submit(bookForm("isbn").value.get)) {

            @bookForm.globalError.map { error =>
                <span class="error">@error.message</span>
            }

            @helper.inputText(bookForm("isbn"))

            @helper.inputText(bookForm("ean"))

            @helper.textarea(bookForm("title"), args = 'rows -> 4)

            @helper.inputText(bookForm("authors"))

            @helper.inputText(bookForm("binding"))

            @helper.inputText(bookForm("edition"))

            @helper.inputText(bookForm("numberOfPages"))

            @helper.inputText(bookForm("publicationDate"))

            @helper.inputText(bookForm("publisher"))

            @helper.inputText(bookForm("bookCover.url"))

            @helper.inputText(bookForm("listPrice.formattedPrice"))

            @helper.inputText(bookForm("offerSummary.lowestUsedPrice.formattedPrice"))

            <div class="book-edit-button">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>

        }

    </div>

}