@(bookForm: Form[model.Book], googleAnalyticsCode: String)(implicit lang: Lang, user: Option[securesocial.core.Identity])

@import helper.twitterBootstrap._

@main("Editing " + bookForm("title").value.get, googleAnalyticsCode){
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/book.css")" />
}{

    <div id="banner">
         <h1>Edit Book</h1>
    </div>
    <div id="book">
        @helper.form(action = routes.BookEditController.submitWithId(bookForm("id").value.get)) {

            @bookForm.globalError.map { error =>
                <span class="error">@error.message</span>
            }

            @helper.inputText(bookForm("isbn"))

            @helper.inputText(bookForm("ean"))

            @helper.textarea(bookForm("title"), args = 'rows -> 4)

            @helper.inputText(bookForm("authors"))

            @helper.inputText(bookForm("binding"))

            @helper.inputText(bookForm("edition"))

            @helper.inputText(bookForm("numberOfPages"))

            @helper.inputText(bookForm("publicationDate"))

            @helper.inputText(bookForm("publisher"))

            @helper.inputText(bookForm("smallBookCover"))

            @helper.inputText(bookForm("largeBookCover"))

            <input type="hidden" value="@bookForm("id").value" name="id" id="id"/>
            <input type="hidden" value="@bookForm("listPrice").value" name="listPrice" id="listPrice"/>
            <input type="hidden" value="@bookForm("lowestPrice").value" name="lowestPrice" id="lowestPrice"/>
            <input type="hidden" value="@bookForm("totalAvailable").value" name="totalAvailable" id="totalAvailable"/>
            <input type="hidden" value="@bookForm("lastPriceUpdateTimestamp").value" name="lastPriceUpdateTimestamp" id="lastPriceUpdateTimestamp"/>
            <input type="hidden" value="@bookForm("amazonPageUrl").value" name="amazonPageUrl" id="amazonPageUrl"/>

            <div class="book-edit-button">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>

        }

    </div>

}