@(book: model.Book, googleAnalyticsCode: String)

@main(book.title, googleAnalyticsCode){
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/book.css")" />
}{
    <div id="banner">
        <h1>@book.title - @book.authors</h1>
    </div>
    <div id="book">
        <table class="table">
            <tr>
                <td align="right">
                    <img style="float: right" src="@book.bookCover" caption="@book.title" alt="@book.title"/>
                </td>
                <td align="left">
                    <dl class="dl-horizontal">
                        <dt>Author(s):</dt> <dd>@book.authors</dd>
                        <dt>Publisher:</dt> <dd>@book.publisher</dd>
                        <dt>Publication Date:</dt> <dd>@book.publicationDate</dd>
                        <dt>Binding:</dt> <dd>@book.binding</dd>
                        <dt>ISBN:</dt> <dd>@book.isbn</dd>
                        <dt>List price:</dt> <dd>@book.listPrice</dd>
                        <dt>Lowest Used Price:</dt> <dd>@book.offerSummary.lowestUsedPrice</dd>
                        <dt>Lowest New Price:</dt> <dd>@book.offerSummary.lowestNewPrice</dd>
                    </dl>
                </td>
            </tr>
        </table>

    </div>
}

