@(book: model.Book, googleAnalyticsCode: String)(implicit lang: Lang, user: Option[securesocial.core.Identity])

@main(book.title, googleAnalyticsCode){
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/book.css")" />
}{

    <div id="banner">
        <h1>@{book.authors match {
            case None =>  book.title
            case Some(_) =>   book.title + "  -  " + book.displayableStringOption(book.authors)
        }}</h1>
        @{if (user.isDefined) {
            <a href={request.path + "/edit"}><img src={routes.Assets.at("images/edit-button.gif").toString} caption="Edit" alt="Edit"/></a>
        }}
    </div>

    <div id="book">
        <table class="table">
            <tr>
                <td align="right">
                    <img style="float: right" src="@book.largeBookCoverWithDefault" caption="@book.title" alt="@book.title"/>
                </td>
                <td align="left">
                    <dl class="dl-horizontal">
                        <dt>Author(s):</dt> <dd>@book.displayableStringOption(book.authors)</dd>
                        <dt>Publisher:</dt> <dd>@book.displayableStringOption(book.publisher)</dd>
                        <dt>Publication Date:</dt> <dd>@book.displayableStringOption(book.publicationDate)</dd>
                        <dt>Binding:</dt> <dd>@book.displayableStringOption(book.binding)</dd>
                        <dt>Edition:</dt> <dd>@book.displayableStringOption(book.edition)</dd>
                        <dt>ISBN:</dt> <dd>@book.displayableStringOption(book.isbn)</dd>
                        <dt>EAN:</dt> <dd>@book.displayableStringOption(book.ean)</dd>
                        <dt>ID:</dt> <dd>@book.displayableStringOption(book.id)</dd>
                        <dt>List price:</dt> <dd>@book.displayableListPrice</dd>
                        <dt>Lowest Price:</dt> <dd>@book.displayableLowestPrice <i>(@book.displayableTotalAvailable available)</i></dd>
                        <dt>Price updated:</dt> <dd>@book.displayableLastPriceUpdateTimestamp</dd>
                        @{if (book.amazonPageUrl.isDefined) {
                            <dt></dt> <dd style="padding-top: 5px" ><a href={book.amazonPageUrl.get} target="_blank"><img src={routes.Assets.at("images/buy-from-amazon-button.gif").toString} caption="Buy from Amazon" alt="Buy from Amazon"/></a></dd>
                        }}
                    </dl>
                </td>
            </tr>
        </table>

    </div>
}

