@(books: List[model.Book], googleAnalyticsCode: String)(implicit lang: Lang, user: Option[securesocial.core.Identity])

@main("Photobooks", googleAnalyticsCode){
    <script>
        jQuery(function ($) {
            $("a").tooltip()
        });
    </script>
}{
    <div class="row">
        <ul class="thumbnails">
                @for(book <- books) {
                    @book.isbn match {
                        case None => {
                            <li class="span2" style="height: 180px">
                                <a class="thumbnail" rel="tooltip" data-delay="1000" title="@book.title" href="@routes.BookGetController.bookById(book.id.get)">
                                    <img src="@book.smallBookCoverWithDefault" caption="@book.title" alt="@book.title"/>
                                </a>
                            </li>
                        }
                        case Some(isbn) => {
                            <li class="span2" style="height: 180px">
                                <a class="thumbnail" rel="tooltip" data-delay="1000" title="@book.title" href="@routes.BookGetController.bookByIsbn(book.isbn.get)">
                                    <img src="@book.smallBookCoverWithDefault" caption="@book.title" alt="@book.title"/>
                                </a>
                            </li>
                        }

                    }
                }
        </ul>
    </div>
}